@import './variables.scss';
div {
  border-radius: 5px;
}
#b-card {
  margin: 0 auto;
  width: 40vmax;
  min-width: 30vmax;
}
#img-preview {
  width: $imgSize;
  height: auto;
}
#b-card-text {
  width: 30vmax;
}
nav {
  font-size: 4vmin;
  ul {
    li {
      a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 0.5vmin;
      }
    }
  }
}
textarea {
  min-height: 25vmax;
}
footer {
  text-align: center;
  span {
    a:hover {
      text-decoration: none;
    }
    color: #999;
    letter-spacing: 0.2vmin;
    font-size: 1rem;
  }
}
