@import './variables.scss';
div {
  margin-top: 1%;
  margin: 0 auto;
  border-radius: 5px;
}
#b-card {
  margin: 0 auto;
  width: 40vmax;
  min-width: 30vmax;
}
#img-preview {
  width: $imgSize;
  height: auto;
}
#b-card-text {
  width: 30vmax;
}
